$color-primary: #EF7F04;
$color-btn: #3B3A63;
$white: #FEFEFE;
$black: #000000;
$color-text: #2F2F51;
$color-back: #F2F2F2;
$color-input: #424268;
$color-link: #4B67AF;
$border-rad: 3px;


@mixin fontSetContent($weight, $size, $height, $color) {  
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  @include fontSetContent(400, 16px, 19px, $black);
  background-color: $color-back;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

@import './blocks/header';
@import './blocks/form';
@import './blocks/services';
