@import './blocks/variables';

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  @include fontSetContent(400, 16px, 19px, $black);
  background-color: $color-back;
}

.container {
  margin: 0 auto;
  max-width: 1312px;
  padding: 0 56px;
}

@import './blocks/header';
@import './blocks/main-block';
@import './blocks/services';
@import './blocks/products';
@import './blocks/schtandart';
@import './blocks/company';
@import './blocks/advantages';
@import './blocks/portfolio';
@import './blocks/question';
