.contacts__title {
  margin-bottom: 59px;
}

.contacts-block {

  display: flex;
  flex-wrap: wrap;


  @media screen and (max-width: 1271px) {
    justify-content: center;
  }

  @media screen and (max-width: $max-width-m) {
    justify-content: center;
  }

  &__label {
    margin-bottom: 14px;
    padding-left: 5px;
    @include fontSetContent(700, 18px, 21px, $color-text);
  }

  &__left {
    min-width: 649px;
    padding-left: 55px;


    @media screen and (max-width: $max-width-xl) {
      display: block;
      margin-bottom: 23px;
    }

    @media screen and (max-width: $max-width-m) {
      width: 70%;
      margin-bottom: 23px;
    }
  }

  &__social-network {
    height: 365px;
    position: relative;
    max-width: 655px;

  }

  &__slogan {
    max-width: 228px;

    &-text {
      margin-bottom: 30px;
      @include fontSetContent(400, 16px, 22px, $color-text);
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: -15px;

    @media screen and (max-width: $max-width-xl) {
      z-index: -1;
    }
  }
}

.social-network {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.link_shadow:hover {
  box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25);
}

.contacts-form {

  width: 512px;
  height: 564px;
  margin-bottom: 26px;

  &__inner {
    padding: 55px 57px 0 60px;
    margin-bottom: 28px;
  }

  &__label {
    @include fontSetContent(700, 24px, 28px, $color-text);
    margin-bottom: 30px;
  }

  &__input {
    width: 395px;
    height: 52px;
    margin-bottom: 21px;
    @include fontSetContent(400, 16px, 19px, $color-placeholder);
  }

  &__feedback {
    resize: none;
    border: none;
    width: 395px;
    height: 134px;
    font-family: 'Roboto', sans-serif;
    @include fontSetContent(400, 16px, 19px, $color-placeholder);
    padding: 17px 0 0 17px;
    margin-bottom: 14px;

    &::placeholder {
      color: $color-placeholder;
    }
  }

  @media screen and (max-width: $max-width-xl) {
    display: block;
  }

  @media screen and (max-width: $max-width-m) {
    display: block;
  }

}

.contacts-form__inner {
  .checkbox {
    justify-content: start;
  }

  .checkbox input[type="checkbox"]:checked+.checkbox__label::after {
    content: url('../img/contacts/vector.svg');
    top: 5px;
  }
}


.contacts-form .checkbox__label {
  @include fontSetContent(400, 14px, 16px, $color-text);
  padding: 6px 0px 6px 12px;

  .checkbox__link {
    font-weight: 700;
    color: $color-primary;
  }
}

.contacts-form__btn {
  width: 258px;
  height: 52px;
  background-color: $color-text;
  margin-bottom: 0;
  @include fontSetContent(700, 16px, 19px, $white);

}

.contacts-block__list {
  margin-bottom: 58px;
}

.contacts-list {
  display: grid;
  grid-template: 81px 38px 22px / 52px 460px;
  align-items: start;
  grid-auto-rows: auto;

  &__icon {
    height: auto;
  }

  &__phone {
    @include fontSetContent(700, 22px, 36px, $black);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &-item:hover {
      text-decoration: underline;
    }
  }

  &__address {
    @include fontSetContent(400, 18px, 21px, $black);

    &:hover {
      text-decoration: underline;
    }
  }
}

.contact-list__email-link {
  @include fontSetContent(400, 18px, 21px, $black);

  &:hover {
    text-decoration: underline;
  }
}