.head {
  background-color: $white;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;

  &-block {
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $max-width-m) {
      &__burger-label {
        margin-right: 44px;
      }
    }
  }
}

.header__nav {
  margin-left: 44px;
  margin-right: 60px;
}

.navigation {
  width: 100%;

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;

    &-link {

      border-top: transparent solid 4px;
      padding-top: 37px;
      transition: color $delay-03 linear, border-top $delay-03 linear;

      &:hover {
        color: $color-primary;
        padding-top: 37px;
        border-top: $color-primary solid 4px;
        transition: color $delay-03 linear, border-top $delay-03 linear;
      }
    }
  }

  @media screen and (max-width: $max-width-m) {
    visibility: hidden;
  }
}

.button-group {
  display: flex;
  gap: 14px;
}


.tablet-menu {
  display: none;
  position: absolute;

  .navigation {
    width: 350px;

    &__menu {
      display: block;

      &-item {
        margin-bottom: 15px;
      }

      &-link {
        font-size: 16px;
        transition: color $delay-03 linear;
      }

      &-link:hover {
        @media screen and (max-width: $max-width-m) {
          color: $color-primary;
          border: none;
          transition: color $delay-03 linear;
        }
      }
    }
  }

  &__checkbox {
    display: none;
  }


  @media screen and (max-width: $max-width-m) {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__btn {
    display: none;

    @media screen and (max-width: $max-width-m) {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 35px;
      transition: .4s;
      background-color: $white;
    }
  }

  &__icon {
    display: none;

    @media screen and (max-width: $max-width-m) {
      display: block;
      position: relative;
      background: $color-primary;
      width: 56px;
      height: 7px;
      border-radius: 2px;
      transition: .4s;
    }
  }
}

.tablet-menu__icon::after,
.tablet-menu__icon::before {
  @media screen and (max-width: $max-width-m) {
    content: "";
    display: block;
    position: absolute;
    background: $color-primary;
    width: 100%;
    height: 7px;
    border-radius: 2px;
    transition: .4s;
  }
}

.tablet-menu__icon::after {
  @media screen and (max-width: $max-width-m) {
    top: 14px;
  }
}

.tablet-menu__icon::before {
  @media screen and (max-width: $max-width-m) {
    top: -14px;
  }
}

.tablet-menu__checkbox:checked~.navigation {
  @media screen and (max-width: $max-width-m) {
    transition: .4s;
    visibility: visible;
    position: fixed;
    left: 55px;
    top: 97px;
    border-radius: 0 0 $border-rad * 2 $border-rad * 2;
    padding: 20px 0 20px 25px;
    background-image: linear-gradient(90deg, #F2F2F2 47.56%, rgba(255, 255, 255, 0) 98.81%);
  }
}

.tablet-menu__checkbox:checked~.tablet-menu__btn .tablet-menu__icon {
  @media screen and (max-width: $max-width-m) {
    background: transparent;
  }
}

.tablet-menu__checkbox:checked~.tablet-menu__btn .tablet-menu__icon::before,
.tablet-menu__checkbox:checked~.tablet-menu__btn .tablet-menu__icon::after {
  @media screen and (max-width: $max-width-m) {
    top: 0;
  }
}

.tablet-menu__checkbox:checked~.tablet-menu__btn .tablet-menu__icon::after {
  @media screen and (max-width: $max-width-m) {
    transform: rotate(-45deg);
  }
}

.tablet-menu__checkbox:checked~.tablet-menu__btn .tablet-menu__icon::before {
  @media screen and (max-width: $max-width-m) {
    transform: rotate(45deg);
  }
}

.tablet-menu__logo {
  display: none;

  @media screen and (max-width: $max-width-m) {
    display: block;
  }
}

.logo {
  @media screen and (max-width: $max-width-m) {
    display: none;
  }
}