.button {

  padding: 10px;
  background-color: $color-primary;
  color: $white;
  border-radius: $border-rad;
  text-align: center;
  width: 169px;
  height: 40px;
  cursor: pointer;
  transition: all 500ms ease;

  &_hover:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0.8;
    transition: 0.5s;
  }

  &_color {
    background-color: $color-btn;
  }

  &__title {
    padding-left: 10px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    @include fontSetContent(700, 13px, 15px, $white);
  }
}