.advantages__list {
  padding: 0 4%;


  @media screen and (max-width: $max-width-xl) {
    padding: 0 8%;
    margin-bottom: 20px;
  }
}

.advantages {
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1%;
  }

  &-item {
    display: flex;
    width: 30%;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 100px;
    gap: 8%;

    @media screen and (max-width: $max-width-xl) {
      width: 47%;
      margin-bottom: 40px;
      gap: 8%;
    }

    @media screen and (max-width: $max-width-m) {
      gap: 10%;
    }

    &__icon {
      width: 30%;
      text-align: center;
    }

    &__img {
      height: 98px;
      width: auto;

      &_size {
        margin-left: -10px;
        // width: 112px;
        height: auto;
      }
    }

    &__text {
      padding-right: 5%;
      width: 60%;
    }

    &__label {
      text-transform: uppercase;
      @include fontSetContent(700, 16px, 26px, $color-text);
      padding-bottom: 12px;
    }

    &__description {
      @include fontSetContent(400, 16px, 26px, $black);
    }
  }

  .advantages__btn {
    display: block;
    margin: 0 auto;
    width: 312px;
    height: 55px;
    padding: 17px 22px 18px 22px;

    &-title {
      @include fontSetContent(700, 16px, 19px, $white);
      padding-left: 24px;
    }
  }
}