.about-company {
  padding-top: 95px;
  margin-bottom: 87px;

  @media screen and(max-width: $max-width-m) {
    padding-top: 38px;
  }
}

.about-company__title {
  margin-bottom: 40px;
}

.company-menu {
  width: 100%;
  margin-bottom: 35px;
}

.company-description {
  max-width: 1200px;
  justify-content: space-between;
  margin-bottom: 68px;
  height: 461px;

  @media screen and (max-width: $max-width-xl) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: $max-width-m) {
    margin-bottom: 80px;
  }
}

.company-description__item {
  width: 49.5%;

  @media screen and (max-width: $max-width-m) {
    width: 50%;
  }

  &-left {
    padding: 46px 45px 0 51px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: $max-width-m) {
      padding: 46px 52px 0px 28px;
    }
  }

  &-logo {
    margin-bottom: 62px;
    align-self: flex-start;
  }

  &-text {
    width: 60%;
    @include fontSetContent(400, 16px, 22px, $black);

    @media screen and (max-width: $max-width-m) {
      width: 78%;
    }

  }

  &-img {
    background-image: url('../img/about-company/worker.png');
    background-repeat: no-repeat;

    @media screen and (max-width: $max-width-m) {
      background-image: url('../img/about-company/worker_2.png');
    }
  }
}