.about-company {
  padding-top: 95px;
  margin-bottom: 68px;
}
.company-title{
  padding-bottom: 40px;
}
.company-menu {
  width: 70%;
  margin-bottom: 35px;
}

.company-description {
  max-width: 1200px;
  justify-content: space-between;
}

.company-description__item {
  width: 49.5%;

  &-left {
    padding: 46px 46px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &-logo {
    margin-bottom: 62px;
    align-self: flex-start;
  }

  &-text {
    width: 57%;

    @include fontSetContent(400, 16px, 22px, $black);
  }

  &-img {
    width: 100%;
  }
}