.contacts__title {
  margin-bottom: 59px;
}

.contacts-block {

  display: flex;
  flex-wrap: wrap;


  &__left {
    width: 50%;
  }

  &__social-network {
    height: 330px;
    position: relative;

  }

  &__slogan {
    width: 44%;
  }

  &__img {
    position: absolute;
    z-index: 1;
    top: 110px;
    right: -13px;
  }
}

.contacts-block__right {
  width: 50%;
}

.contacts-block {
  &__form {
    width: 512px;
    height: 564px;

    &-inner {
      padding: 55px 57px 0 60px;
    }

    &-label {
      @include fontSetContent(700, 24px, 28px, $color-text);
      margin-bottom: 30px;
    }

    &-input {
      width: 395px;
      height: 52px;
      margin-bottom: 21px;
      @include fontSetContent(400, 16px, 19px, $color-placeholder);
    }

    &-feedback {
      resize: none;
      border: none;
      width: 395px;
      height: 134px;
      font-family: 'Roboto', sans-serif;
      @include fontSetContent(400, 16px, 19px, $color-placeholder);
      padding: 17px 0 0 17px;
      margin-bottom: 14px;

      &::placeholder {
        color: $color-placeholder;
      }
    }
  }
}


.contacts-block__form {
  margin-bottom: 28px;
}

.contacts-block__form-inner {
  .checkbox input[type="checkbox"]+.checkbox__label::after {
    content: none;
  }

  .checkbox input[type="checkbox"]:checked+.checkbox__label::after {
    content: url('../img/contacts/vector.svg');

  }
}

.contacts-block__form .order-form__btn {
  margin-bottom: 0;
}


.contacts-block__form .checkbox__label {
  @include fontSetContent(400, 14px, 16px, $color-text);
  padding: 5px 0px 6px 12px;

  .checkbox__link {
    font-weight: 700;
    color: $color-primary;
  }
}


.contacts-list {
  &__label {
    margin-bottom: 16px;
    padding-left: 3px;
    @include fontSetContent(700, 18px, 21px, $color-text);

  }

  display: grid;
  grid-template-rows:71px 29px 22px;
  grid-template-columns: 52px 500px;
  align-items: center;
  gap:10px;
  grid-auto-rows: auto;



  &__icon {
    height: auto;
  }

  &__phone {
    @include fontSetContent(700, 22px, 36px, $black);

    &-item {
      padding-right: 20px;
    }
  }


  &__address {
    @include fontSetContent(400, 18px, 21px, $black);
  }

  &__email {
    @include fontSetContent(400, 18px, 21px, $black);
  }

}