.head {
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  &-block {
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__nav {
  margin-left: 44px;
  margin-right: 60px;
}

.navigation {
  width: 100%;

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;

    &-link {

      &:hover {
        color: $color-primary;
        padding-top: 37px;
        border-top: $color-primary solid 4px;
      }
    }
  }
}

.button-group {
  display: flex;
  gap: 14px;
}

.button {

  padding: 10px;
  background-color: $color-primary;
  color: $white;
  border-radius: $border-rad;
  text-align: center;
  width: 169px;
  height: 40px;
  cursor: pointer;

  &_hover:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &_color {
    background-color: $color-btn;
  }

  &__title {
    padding-left: 10px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    @include fontSetContent(700, 13px, 15px, $white);
  }
}