.schtandart-block {
  background-image: url(/img/schtandart/bg-schtandart.png);
  background-repeat: no-repeat;
  padding: 36px 0 69px 0;
  margin-bottom: 56px;

  &__logo {
    text-align: center;
    margin-bottom: 47px;
  }

  .schtandart-block {
    &__list {
      display: flex;
      justify-content: space-around;
    }

    &__item {
      width: 17%;
      height: auto;
      text-align: center;
    }

    &__img {
      margin-bottom: 36px;
      height: 97px;
      width: auto;
    }

    &__text {
      @include fontSetContent(400, 16px, 19px, $white);

    }
  }
}

.schtandart-block {

  &__btn {
    display: block;
    width: 256px;
    height: 55px;
    margin: 0 auto;
  }

  &__title {
    @include fontSetContent(700, 16px, 19px, $white);
    padding-left: 22px;
  }
}