.services {
  padding-top: 68px;
  padding-bottom: 68px;


  .h2 {
    text-align: center;
    @include titleFont;
    padding-bottom: 43px;
  }

  &-block {
    display: flex;
    flex-wrap: wrap;

    .services-item {
      //width: calc(50% - 20px);
      max-width: 595px;
      height: 268px;
      margin: 5px;
      @include fontSetContent();

      &-head {
        display: flex;
        width: 60%;
        align-items: center;
        padding-top: 55px;
        padding-left: 50px;

        .label {
          padding-left: 21px;
          @include titleFont;
          text-align: left;
          padding-bottom: 0;
        }
      }

      .text {
        width: 60%;
        padding-top: 30px;
        padding-left: 52px;
      }
    }
  }
}

.services {
  background-color: $grey;

  &-block {
    margin-left: $offset;
    margin-right: $offset;
  }
}

.windows,
.balcony,
.houses,
.corporate {
  border-radius: 3px;
}

.windows {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/img/services/windows.png);
}

.balcony {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/img/services/balcony.png);
}

.houses {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/img/services/houses.png);
}

.corporate {
  background-image: linear-gradient(90.45deg, #FFFFFF 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/img/services/corporate.png);
}